<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <h1>Profile<h1>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
{{lastUsername}}

    {% for x in compétence %}
<h1>compétence</h1>
        <h1>{{ x.compétence|e }}</h1>
<h1>interet</h1>
 <h1>{{ x.interet|e }}</h1>
    {% endfor %}


        {% block javascripts %}
            {#{{ encore_entry_script_tags('app') }}#}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</html>
